<h2>Readme</h2>
<br />

<%= image_tag 'foundation_blog_emblem.png', class: 'emblem' %>

<p>이 애플리케이션은 <code>Foundation 6</code>를 이용하여 레일스로 만든 LightningCat 블로그입니다. </p>
<p>이 어플리케이션은 <code><a href="https://luciuschoi.gitbooks.io/foundblog/content/index.html" target="_blank">https://luciuschoi.gitbooks.io/foundblog/content/index.html</a></code> 위 링크의 Gitbook을 참고해서 만들었음을 알립니다.</p>
<p>소스코드의 github 주소는 <code><a href='https://github.com/L3opold7/LightningCat_Blog' target="_blank">https://github.com/L3opold7/LightningCat_Blog</a></code>이며, 소스코드를 클론하기 위해서는 아래와 같이 터미널에서 실행하면 됩니다. </p>

<div style="clear:both;">
  <blockquote class='code'>
    $ git clone https://github.com/L3opold7/LightningCat_Blog
  </blockquote>
</div>

<p>문제가 있을 경우, <a href="http://www.facebook.com/l3opold7">Facebook</a> 혹은 l3opold7@gmail.com으로 연락해주시면 감사하겠습니다.</p>