.emblem {
  float:left;
  width:25%;
  margin-right:1em;
  margin-bottom:1em;
}

blockquote.code {
  border-left: 3px solid #cacaca;
  padding: .5rem 1rem;
  background-color: #eaeaea;
  font-family: 'courier';
}